Repository apache/dubbo-kubernetes, pull requests merged in 2024-06, with the labels that each got.

#134 feat(creds): support containers-auth.json
  app/dubboctl/internal/docker/creds/credentials.go
Labels: needs-review

#293 Fix the bug where Dubbo cp listens to mapping configuration
  pkg/core/registry/mapping.go
  pkg/core/registry/registry.go
Labels: bug, control-plane, needs-review

#136 feat(generate): add go generate directive
  app/dubboctl/internal/dubbo/templates_embedded.go
  generate/templates/main.go
  generate/zz_filesystem_generated.go
  mk/generate.mk
  templates/go/common/api/api.proto
  templates/go/common/go.mod
  templates/go/common/go.sum
Labels: conflicts, lgtm

#299 feat: pod-container-env-inject webhook
  pkg/plugins/runtime/k8s/plugin.go
  test/control-plane/cp.yaml
Labels: needs-review

#294 Impl Admin operate traffic part
  api/mesh/v1alpha1/dynamic_config.pb.go
  api/mesh/v1alpha1/dynamic_config.proto
  conf/dubbo-cp.yaml
  pkg/admin/handler/traffic_condition_rule.go
  pkg/admin/handler/traffic_configurator.go
  pkg/admin/handler/traffic_tag_rule.go
  pkg/admin/model/traffic_condition_rule.go
  pkg/admin/model/traffic_configurator.go
  pkg/admin/model/traffic_tag_rule.go
  pkg/admin/server/router.go
  pkg/admin/server/server.go
  pkg/core/governance/governance_config.go
  pkg/core/governance/governance_config_mock.go
  pkg/plugins/resources/k8s/store.go
  pkg/plugins/resources/k8s/store_test.go
  pkg/plugins/resources/k8s/util/bitset.go
  pkg/plugins/resources/k8s/util/bitset_test.go
  pkg/plugins/resources/traditional/store.go
  pkg/plugins/resources/traditional/utils.go
Labels: needs-review

#285 [feature] Implement service search interface
  pkg/admin/constants/constants.go
  pkg/admin/handler/service.go
  pkg/admin/model/service.go
  pkg/admin/server/router.go
  pkg/admin/service/service.go
Labels: needs-review
