Repository apache/dubbo-kubernetes, pull requests merged in 2024-04, with the labels that each got.

#246 Add corresponding tab(Form View Tab and YAML View Tab) for all routing modules under traffic control module.
  ui-vue3/src/api/mock/mockInstance.ts
  ui-vue3/src/api/service/instance.ts
  ui-vue3/src/base/i18n/en.ts
  ui-vue3/src/base/i18n/zh.ts
  ui-vue3/src/router/defaultRoutes.ts
  ui-vue3/src/views/resources/instances/index.vue
  ui-vue3/src/views/resources/instances/tabs/configuration.vue
  ui-vue3/src/views/resources/instances/tabs/details.vue
  ui-vue3/src/views/resources/instances/tabs/monitor.vue
  ui-vue3/src/views/traffic/destinationRule/index.vue
  ui-vue3/src/views/traffic/destinationRule/tabs/YAMLView.vue
  ui-vue3/src/views/traffic/destinationRule/tabs/formView.vue
  ui-vue3/src/views/traffic/dynamicConfig/index.vue
  ui-vue3/src/views/traffic/dynamicConfig/tabs/YAMLView.vue
  ui-vue3/src/views/traffic/dynamicConfig/tabs/formView.vue
  ui-vue3/src/views/traffic/routingRule/index.vue
  ui-vue3/src/views/traffic/routingRule/tabs/YAMLView.vue
  ui-vue3/src/views/traffic/routingRule/tabs/formView.vue
  ui-vue3/src/views/traffic/tagRule/index.vue
  ui-vue3/src/views/traffic/tagRule/tabs/YAMLView.vue
  ui-vue3/src/views/traffic/tagRule/tabs/formView.vue
  ui-vue3/src/views/traffic/virtualService/index.vue
  ui-vue3/src/views/traffic/virtualService/tabs/YAMLView.vue
  ui-vue3/src/views/traffic/virtualService/tabs/formView.vue
Labels: lgtm

#254 Feature/竞赛/跨集群
  docs/multicluster/design.md
Labels: doc

#257 fix proxy test
  app/dubboctl/cmd/proxy.go
  pkg/xds/bootstrap/template_v3.go
  test/proxy/dp-bootstrap.yaml
  test/proxy/dp.Dockerfile
  test/proxy/dp/ingress.yaml
Labels: data-plane, ingress, needs-review

#251 feat(xds): add missing resources and implement ingress proxy
  app/dubboctl/cmd/build.go
  pkg/core/runtime/builder.go
  pkg/core/runtime/runtime.go
  pkg/core/xds/types.go
  pkg/xds/context/aggregate_mesh_context.go
  pkg/xds/context/context.go
  pkg/xds/context/mesh_context_builder.go
  pkg/xds/envoy/endpoints/endpoints.go
  pkg/xds/generator/ingress_proxy_generator.go
  pkg/xds/generator/zoneproxy/destinations.go
  pkg/xds/generator/zoneproxy/generator.go
  pkg/xds/ingress/dataplane.go
  pkg/xds/ingress/outbound.go
  pkg/xds/ingress/router.go
  pkg/xds/sync/componenets.go
  pkg/xds/sync/dataplane_watchdog.go
  pkg/xds/sync/ingress_proxy_builder.go
  pkg/xds/topology/dataplane.go
Labels: data-plane, ingress, needs-review

#266 complete dynamic config
  ui-vue3/src/base/i18n/en.ts
  ui-vue3/src/base/i18n/zh.ts
  ui-vue3/src/components/SearchTable.vue
  ui-vue3/src/layout/tab/layout_tab.vue
  ui-vue3/src/router/defaultRoutes.ts
  ui-vue3/src/views/resources/services/tabs/distribution.vue
  ui-vue3/src/views/resources/services/tabs/paramRoute.vue
  ui-vue3/src/views/resources/services/tabs/sceneConfig.vue
  ui-vue3/src/views/traffic/dynamicConfig/index.vue
  ui-vue3/src/views/traffic/dynamicConfig/tabs/YAMLView.vue
  ui-vue3/src/views/traffic/dynamicConfig/tabs/formView.vue
  ui-vue3/src/views/traffic/routingRule/tabs/formView.vue
  ui-vue3/src/views/traffic/tagRule/tabs/formView.vue
Labels: console/frontend, needs-review
